html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")

    body
        .row
            .col-4
            .col-4
                form
                    .form-group#IdGroup
                        label(for="inputId") ID
                        input.form-control#inputId(type="text" aria-describedby="descriptionId")
                        small.form-text.text-muted#descriptionId Eine Buchstabenkombination, welche zur Identifizierung dient
                    .form-group#titleGroup
                        label(for="inputTitle") Name
                        input.form-control#inputTitle(aria-describedby="descriptionTitle")
                        small.form-text.text-muted#descriptionTitle Name der Location, so wie sie auf Facebook oder Google Maps eingetragen ist
                    .form-group#descriptionGroup
                        label(for="inputDescription") Beschreibung
                        input.form-control#inputDescription(aria-describedby="descriptionDescription")
                        small.form-text.text-muted#descriptionDescription Ein paar Infos zur Location
                    .form-group#positionGroup
                        label(for="inputPositionLat") Koordinaten
                        input.form-control#inputPositionLat(type="number" aria-describedby="descriptionPositionLat")
                        small.form-text.text-muted#descriptionPositionLat Latitude der Location (z.B. 51.1234)
                        input.form-control#inputPositionLon(type="number" aria-describedby="descriptionPositionLon")
                        small.form-text.text-muted#descriptionPositionLon Longitude der Location (z.B. 12.1234)
                    .form-group#iconGroup
                        label(for="inputIcon") Icon
                        input.form-control#inputIcon(aria-describedby="descriptionIcon")
                        small.form-text.text-muted#descriptionIcon Welches Icon genutzt werden soll (siehe https://labs.mapbox.com/maki-icons/)
                    .form-group#addressGroup
                        label(for="inputAddress") Adresse
                        input.form-control#inputAddress(aria-describedby="descriptionAddress")
                        small.form-text.text-muted#descriptionAddress Straße und Hausnummer der Location
                    .form-group#fbPageNameGroup
                        label(for="inputFb") Facebook ID der Seite
                        input.form-control#inputFb(aria-describedby="descriptionFb")
                        small.form-text.text-muted#descriptionFb https://www.facebook.com/zeigwasdumachst -> 'zeigwasdumachst'
                    button.btn.btn-primary#buttonSubmit(type="submit") Eintragen
                    button.btn.btn-secondary#buttonReturn(type="button" onclick="location.href='/';") Zurück
            .col-4

        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous")
        script(src="/addData.js")
